@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/Oswald-VariableFont_wght.ttf") url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

nav {
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;*/
  box-shadow: 0 0 2px 2px;
  background: #FFFFFF;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container .nav-items {
  margin-left: 20px;
  padding: 15px;
}
.nav-container .nav-items a {
  display: inline-block;
  padding-top: 25px;
  margin-left: 10px;
  transition: 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-weight: normal;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.nav-container .nav-items a:hover {
  color: #6820BF;
}
.nav-container .nav-items .direct-btn {
  border-radius: 100px;
  padding: 15px;
  margin-left: 10px;
  transition: 0.3s;
  color: #E6E6E6;
  font-weight: bold;
  background: #D02345;
}
.nav-container .nav-items .direct-btn:hover {
  background: #E6E6E6;
  color: #D02345;
}

.church {
  background-image: url("/img/img-church1.webp");
  background-position: center;
  background-size: cover;
  background-color: red;
  height: 100vh;
}
.church .church-presentation {
  display: inline-block;
  margin: 100px;
}
.church .church-presentation img {
  display: block;
  margin: 0 auto;
  width: 72%;
  height: auto;
}
.church .next-section {
  text-align: center;
}
.church .next-section .fa-angle-down {
  font-size: 50px;
  font-weight: bold;
  color: #E6E6E6;
}

.about-container {
  display: inline-block;
  width: 85%;
  margin: 10% 8%;
}

.about-church {
  background: url("/img/church-img2.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.about-church .about-title h2 {
  font-family: "Oswald", sans-serif;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #FFFFFF;
}
.about-church .about-title-text .title-descri {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3rem;
  color: #FFFFFF;
}
.about-church .title-btn {
  background: #FFFFFF;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  transition: 0.3s;
}
.about-church .title-btn:hover {
  background: #000000;
  color: #FFFFFF;
}
.about-church .title-btn .btn-title {
  display: block;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  text-decoration: none;
  padding: 20px 40px;
  color: #000000;
}
.about-church .title-btn .btn-title:hover {
  color: #FFFFFF;
}

.values {
  width: 100%;
  overflow: hidden;
  background: #FFFFFF;
}
.values .values-title {
  font-family: "Montserrat", Sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  margin: 5% 0;
}
.values .values-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.values .values-container .love {
  padding: 50px;
  text-align: center;
  height: 400px;
}
.values .values-container .love p {
  color: #303daf;
  font-size: 40px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  margin: 0;
}
.values .values-container .holiness {
  padding: 50px;
  text-align: center;
  height: 400px;
}
.values .values-container .holiness p {
  color: #04677e;
  font-size: 40px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  margin: 0;
}
.values .values-container .power {
  padding: 50px;
  text-align: center;
  height: 400px;
}
.values .values-container .power p {
  color: #700121;
  font-size: 40px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  display: inline;
  margin: 0;
}
.values .values-container .balance {
  padding: 50px;
  height: 400px;
  text-align: center;
}
.values .values-container .balance img {
  height: auto;
}
.values .values-container .balance p {
  color: #af6f05;
  font-size: 40px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  margin: 0;
}

.worksite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/img/worksite-img1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 0 10%;
}
.worksite .worksite-title {
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0.67em;
}
.worksite .worksite-text {
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.3em;
}
.worksite .worksite-btn {
  background: transparent;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Montserrat", Sans-serif;
  padding: 15px 30px;
  transition: 0.3s;
}
.worksite .worksite-btn:hover {
  background: #FFFFFF;
  color: #700121;
}

/*# sourceMappingURL=style.css.map */
